<div class="pure-g-r">
  <div class="card-content">
    <div class="pure-u-1-3 l-centered">
      <div class="profile">
        <div class="profile-photo-container">
          <img src="https://en.gravatar.com/userimage/35505219/a9313ffc6c7b5f8b4f49f704c1035ce0.jpg?size=200" alt="profile picture"
              class="profile-photo">
        </div>
        <div class="profile-name">Brian Park</div>
      </div>
    </div>

    <div class="pure-u-2-3 l-centered">
      <ul class="social">
        <li>
          <a target="_blank" href="//github.com/yaru22" class="social-btn icon-github"></a>
        </li>
        <li>
          <a target="_blank" href="//ca.linkedin.com/in/brianghpark/" class="social-btn icon-linkedin-sign"></a>
        </li>
        <li>
          <a target="_blank" href="//facebook.com/brian.park.77920" class="social-btn icon-facebook-sign"></a>
        </li>
        <li>
          <a target="_blank" href="//twitter.com/yaru22" class="social-btn icon-twitter-sign"></a>
        </li>
        <li>
          <a target="_blank" href="//plus.google.com/105800851953254236863" class="social-btn icon-google-plus-sign"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
