<div class="card-content">
  Hovercard also supports nested hovercard. You can keep nesting it. If you'd like
  to see the nested hovercard, hover over
  <hovercard hover-tmpl-url="hoverCardDetail.tmpl">this</hovercard>.
</div>
